/* this is a custom CSS stylesheet */

h1 {
	color: rgb(150,150,150);
}

p {
	color: rgb(50,50,50);
	font-family: Helvetica;
	font-size: 16px;
	margin: 0px 0px 20px;
}

.author {
	color: rgb(50,150,150);
	font-size: 16px;
	font-style: italic;
	text-align: center;
}